fastapi
uvicorn
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
pymupdf
pypdf
sentence-transformers
huggingface-hub
langchain>=0.1.14
langchain-core>=0.1.40
langchain-community>=0.0.30
langchain-text-splitters>=0.0.1
pinecone-client==5.0.0
tiktoken
google-generativeai
google-genai
rank-bm25
groq
